*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans',sans-serif;
}
.field-group{
    width: 600px;
}
.select-label{
    font-size: 1.4em;
    color: #ffffff;
}
.select-field{
    width: 100%;
    outline: 0;
    border: none;
    padding: 15px 20px;
    background: rgba(255,255,255,0.2) url(arrow.png) no-repeat right bottom;
    color: #000000;
    font-size: 1.2em;
    -webkit-appearance: none;
    appearance: none;
}
.select-field option:checked{
    background: #000000;
    color:#ffffff;
}